:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

.btn {
  text-decoration: none;
  letter-spacing: 26%;
  text-transform: uppercase;
  color: var(--Black);
  border: none;
}

.box-one {
  background-image: url(./images/desktop/image-deep-earth.jpg);
}

.box-two {
  background-image: url(./images/desktop/image-night-arcade.jpg);
}

.box-three {
  background-image: url(./images/desktop/image-soccer-team.jpg);
}

.box-four {
  background-image: url(./images/desktop/image-grid.jpg);
}

.box-five {
  background-image: url(./images/desktop/image-from-above.jpg);
}

.box-six {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}

.box-seven {
  background-image: url(./images/desktop/image-curiosity.jpg);
}

.box-eight {
  background-image: url(./images/desktop/image-fisheye.jpg);
}

.burger {
  display: none;
}
.close {
  display: none;
}
.copyright {
  color: var(--Very-Dark-Gray);
}
.creation-grid__box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 447px;
  display: flex;
  align-items: flex-end;
  padding: 2.6rem;
}
.creations-header__btn {
  border: solid 2px var(--Dark-Gray);
  background-color: var(--White);
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  height: 2.5rem;
}
.creations-header__title {
  font-family: "Josefin Sans";
  font-size: 48px;
  text-transform: uppercase;
  color: var(--Black);
}
.footer {
  background-color: var(--Black);
}

.footer__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.footer-nav__link {
  text-decoration: none;
  color: var(--White);
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.footer-social {
  cursor: pointer;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__left-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.2rem;
  padding: 0px;
}

.footer-nav__link-item {
  list-style-type: none;
}

.footer-nav__link:hover:after {
  content: "";
  position: absolute;
  background-color: var(--White);
  opacity: 0.7;
  width: 25px;
  height: 3px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  font-size: 12px;
}
.footer__right-copyright {
  color: var(--White);
}
.footer__right-social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.grid__box-title {
  color: var(--White);
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-size: 2rem;
  width: 9ch;
}
.header {
  background-image: url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 4rem 5.5rem 4rem 5.5rem;
}

.header__up {
  display: inline-block;
}

.header__up--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__down {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.header__title {
  border: solid 1px var(--White);
  text-transform: uppercase;
  width: 14ch;
  color: var(--White);
  padding: 0rem 0rem 0rem 3rem;
  font-size: 4.86rem;
  font-family: "Josefin Sans";
  font-weight: 100;
}

.header--logo-mobile {
  display: none;
}

.homelink {
}
.leader-info__excerpt {
  color: var(--Dark-Gray);
  width: 46ch;
}
.leader-info__title {
  text-transform: uppercase;
  color: var(--Black);
  font-family: "Josefin Sans";
  font-size: 48px;
  width: 22ch;
}

.nav--main__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav--item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  color: var(--White);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  background-color: var(--White);
  opacity: 0.7;
  width: 25px;
  height: 3px;
  top: 100px;
}
.section__creations {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  margin-bottom: 12rem;
}
.section__creations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 600px;
}
.section__creations-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 5.6rem;
}

.section__leader {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  margin-top: 10.6rem;
  margin-bottom: 10.6rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.section__leader-box1 {
  grid-area: 1 / 1 / span 4 / span 3;
}

.section__leader-box2 {
  grid-area: 3 / 3 / span 4 / span 4;
  background-color: var(--White);
  z-index: 1;
  padding: 4rem;
}

.section__leader-img {
  display: inline-block;
}

.section__leader-img-mobile {
  display: none;
}
.section__leader-info {
}

.veil {
  display: none;
}

@media (max-width: 1170px) {
  .section__leader {
    padding-left: 10.5rem;
    padding-right: 10.5rem;
  }

  .section__creations-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .creation-grid__box {
    height: auto;
  }
}

@media (max-width: 950px) {
  .creations-header__title {
    font-size: 36px;
  }

  .header {
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 0.5rem 4rem 0.5rem;
    height: 50vh;
  }

  .header__up {
    display: flex;
    justify-content: space-between;
  }

  .header__down {
    justify-content: center;
  }

  .header__title {
    font-size: 2.26rem;
  }

  .leader-info__title {
    font-size: 38px;
  }

  .leader-info__excerpt {
    font-size: 20px;
    width: 30ch;
  }

  .section__leader {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 5.6rem;
  }

  .section__leader-box1 {
    grid-area: unset;
  }

  .section__leader-img-mobile {
    display: block;
    width: max(654px, 100%);
  }

  .section__leader-img {
    display: none;
  }

  .section__leader-box2 {
    grid-area: unset;
    text-align: center;
    padding: 0px;
    margin-top: 4rem;
  }

  .section__leader-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__creations-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .section__creations-header {
    flex-direction: column;
  }

  .footer__box {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;
  }

  .footer__left {
    align-items: center;
  }

  .footer__left-nav-list {
    flex-direction: column;
  }

  .footer__right {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .burger {
    display: inline-block;
    background-color: transparent;
    border: none;
  }

  .close {
    display: inline-block;
    background-color: var(--Black);
    border: none;
  }

  .nav--main {
    display: none;
  }

  .nav--open {
    transform: translateX(0);
    pointer-events: all;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: ;
    display: block;
    z-index: 100;
    /* width: 100vw; */
    width: 100%;
    padding: 2.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: var(--Black);
    color: var(--White);
    align-items: stretch;
    font-size: 28px;
    font-family: "Josefin Sans";
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 10rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
  }

  .nav--main__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }

  .nav__link:hover::after {
    display: none;
  }

  .header--logo-mobile {
    display: block;
  }

  .test {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section__creations {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
